nav{
	padding: 0;
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	background: #009688;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
}
table{
	width: 100%;
}
td{
	padding: 10px;
}
.box{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 60%;
  border-color: #ff9800;
  box-shadow: 5px 5px 4px #ff980077;
}
.box{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  width: 60%;
  border-color: #009688;
  box-shadow: 5px 5px 4px #00968877;
}
.input{
	transition: 3s;
	margin-top: 20px;
	border-radius: 10px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	width: 70%;
	height: 50px;
	font-size: 20px;
}
.input:focus{
	transition: 1s;
	border-width: 0px 0px 2px 0px ;
   border-color: #009688;
}
.btn{
	margin-top: 20px;
	width: 200px;
	height: 35px;
	background: #009688;
	border-radius: 3px;
	border-style: solid;
	border-width: 0px;
	transition: 2s;
}
.btn:hover{
	transition: 2s;
	border-radius: 15px;
}
.title{
	padding-top: 40px;
	font-family: sans-serif;
	font-size: 50px;
  text-shadow: 1px 1px 1px #00968877;
  transition: 2s;
  transform: rotate(0deg);
}
.title:hover{
    transition: 2s;
    text-shadow: 2px 2px 2px #00968877;
    transform: rotate(14deg);
}
.radio{
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 10px;
}
.fav{
	color: #33333355;
}